@import url('common.css');
/* body{
    overflow-x:hidden;
    overflow-y:hidden;
} */
#total{
    width:100%;
}
/* -------------------------------- header ------------------------------------ */
header{
    position:fixed;
    width:100%;
    background-color:#000;
    z-index:25;
    padding:0% 15%
}
header.active{
    opacity:0.5
}
header .header_wrap{
    width:100%;
    height:100%;
    display:flex;
    position:relative;
}
.header_wrap figure{
    width:15%;
}
.header_wrap figure img{
    width:100%;
}

/* --------------------------------- nav -------------------------------------- */
.header_wrap .navBg{
    width:100%;
    background-color:#000;
    display:flex;
}
.header_wrap nav{
    width:100%;
    padding:1.7%;
}
.header_wrap nav ul{
    display:flex;
    justify-content:center;
    margin-top:10px;
}
.header_wrap nav ul li{
    margin-right:5%;
    width:10%;
    position:relative;
}
.header_wrap nav ul li a{
    color:#fff;
    font-size:1em;
}
.header_wrap nav ul div{
    position:relative;
    margin-top:40px;
    line-height:80px;
    background-color:#000;
    display:none;
}
.header_wrap nav ul div a{
    display:block;
    font-size:1em;
    color:#fff;
}
.burger{
    position:relative;
    right:0;
    top:30%;
    display:none;
    z-index:10;
    transition:all .5s;
}
.burger span{
    width:30px;
    height:2px;
    background-color:#fff;
    display:block;
    position:absolute;
    transition:all .5s;
}
.burger span:nth-of-type(1){
    top:0
}
.burger span:nth-of-type(2){
    top:6px
}
.burger span:nth-of-type(3){
    top:12px
}
/* 버거메뉴 애니메이션입니다 */
@keyframes menu-bar07-01 {
    0% {
        transform : translateY(6px) rotate(45deg);
    }
    50% {
        transform : translateY(6px) rotate(0);
    }
    100% {
        transform : translateY(0) rotate(0);
    }
}
.burger span:nth-of-type(2) {
    transition : all .25s .25s;
    opacity : 1;
}
.burger span:nth-of-type(3) {
    animation : menu-bar07-02 .75s forwards;
}

@keyframes menu-bar07-02 {
    0% {
        transform : translateY(-6px) rotate(-45deg);
    }
    50% {
        transform : translateY(-6px) rotate(0);
    }
    100% {
        transform : translateY(0) rotate(0);
    }
}

.burger.active span:nth-of-type(1) {
    animation : active-menu-bar07-01 .75s forwards;
}

@keyframes active-menu-bar07-01 {
    0% {
        transform : translateY(0) rotate(0);
    }
    50% {
        transform : translateY(6px) rotate(0);
    }
    100% {
        transform : translateY(6px) rotate(45deg);
    }
}
.burger.active span:nth-of-type(2) {
    opacity : 0;
}
.burger.active span:nth-of-type(3) {
    -webkit-animation : active-menu-bar07-02 .75s forwards;
    animation : active-menu-bar07-02 .75s forwards;
}

@keyframes active-menu-bar07-02 {
    0% {
        transform : translateY(0) rotate(0);
    }
    50% {
        transform : translateY(-6px) rotate(0);
    }
    100% {
        transform : translateY(-6px) rotate(-45deg);
    }
}
/* --------------- 모바일 메뉴입니다 -------- */
.mobileMenu{
    position:fixed;
    right:-60%;
    top:50px;
    transition:.5s;
    /* display:none; */
    opacity:0;
}
.mobileMenu.show{
    /* display:block; */
    opacity:1;
    z-index:5;
    right:-10%;
    top:50px;
    width:50%;
    transition:.5s;
}
.mobileMenu ul{
    background-color:#000;
    height:100vh;
    /* margin-top:10px; */
    padding:5%;
}
.mobileMenu ul li{
    padding:5% 5%;
    color:#fff;
}
.mobileMenu li > div{
    display:none;
    height:100%;
    line-height:55px;
    margin-top:7%;
    margin-left:20px;
}
.mobileMenu a{
    color:#fff;
    display:block;
}
/* --------------------- section ------------------------- */
section{
    background:url('../img/bg_background7.jpg')no-repeat;
    background-size:100% 100vh;
    background-attachment:fixed;
}

.sectionWrap{
    padding:10% 5% 5% 5%;
    position:relative;
}

.sectionWrap .figureControl{
    display:flex;
}
.sectionWrap .subject h1{
    color:#fff;
    text-align:center;
    margin-bottom:70px;
    font-size:2em;
}
.sectionWrap .subject figure{
    padding:0 5%;
}
.sectionWrap .subject figure img{
    width:100%;
    opacity:0.7;
    transition:.2s;
}
.sectionWrap .subject figure:hover img{
    opacity:1;
}
.sectionWrap .subject figure:hover a{
    color:#2981bb
}
.sectionWrap figcaption{
    width:100%;
    line-height:50px;   
}
.sectionWrap figcaption p,a{
    color:#fff;
}
.sectionWrap figcaption p{
    font-size:0.9rem;
    color:#ccc;
}
.sectionWrap figure:nth-of-type(1) a{
    white-space:pre-line;
}
.button{
    position:absolute;
    width:90%;
    left:5%;
    top:40%;
    display:flex;
    justify-content:space-between;
    display:none;
}
.button img{
    width:200%;
}
.content{
    width:100%;
    padding:10% 2% 0 2%;
}
.content ul{
    display:flex;
    justify-content: space-around;
}
.content ul li,strong{
    color:#fff;
    font-size:1.5em;
}
.patchNote, .scope, .trailer{
    background-color:rgba(50,66,81,.7);
    padding:10% 5%;
    height:450px;
    line-height:35px;
    margin-top:10px;
}
.patchNote div{
    margin-bottom:50px;
}
.patchNote div:hover a{
    color:#2981bb;
}
.patchNote p{
    color:#ccc;
    font-size:0.9rem;
}
.scope{
    width:100%;
    height:500px;
}
.scope div{
    position:relative;
}
.scope div a .scopeC{
    width:100%;
}
.scope div:hover span{
    color:#2981bb;
}
.scope div span{
    color:#fff;
    display:block;
}
.play{
    position:absolute;
    left:45%;
    top:35%;
    width:40px;
    height:45px;
}
.trailer{
    opacity:0.8;
    transition:.2s;
}
.trailer:hover{
    opacity:1;
}
.trailer img{
    margin-top:50px;
    width:100%;
}
/* --------------------------------- footer -------------------------------- */
footer{
    width:100%;
    padding:5% 15%;
    background-color:#0a0d13;
}
footer .sns{
    z-index:10;
}

footer div:nth-of-type(1){
    display:flex;
    justify-content:space-between;
}

footer div:nth-of-type(1) p{
    color:#83868a;
    font-weight:600;
    margin-left:11.5%;
}

footer div:nth-of-type(2){
    display:flex;
    justify-content:space-around
}

footer div:nth-of-type(2) ul li:nth-of-type(1){
    color:#83868a;
}
footer div:nth-of-type(2) ul li{
    color:#eee;
    line-height:250%;
}
footer div:nth-of-type(2) ul li a{
    color:#eee;
}
.copyRight{
    color:#ccc;
    text-align:center;
    margin-top:35px;
}

/* ---------------------- media -------------------------------------- */
/* -------------------- 1024px ------------------- */
@media(max-width:1024px){
    body{
        overflow-x:visible;
        overflow-y:visible;
    }
    /* Header -------------------------------------------- */
    .header_wrap nav ul li{
        width:10%;
    }
    .header_wrap nav ul li > a{
        font-size:0.6em;
    }
    .header_wrap nav ul li div a{
        font-size:0.3em;
        margin-top:20px;
        line-height:50px;
    }
    /* Section -------------------------------------------- */
    .sectionWrap .subject figure {
        padding: 0 2%;
    }
    .content ul li{
        padding:0 10px;
    }
    .patchNote, .scope, .trailer{
        background-color:rgba(50,66,81,.7);
        padding:5% 2%;
        height:450px;
        line-height:35px;
    }
    /* Footer --------------------------------------------- */
    .sns{
        margin-right:10%;
    }
    footer div:nth-of-type(1) p{
        margin-left:8.5%
    }
    footer div:nth-of-type(2){
        margin-top:1%;
    }
    footer div:nth-of-type(2) ul li a{
        font-size:0.8em
    }
}
/* --------------------- 768 --------------------- */
@media(max-width:768px){
    body{
        overflow-x:visible;
        overflow-y:visible;
    }
    header{
        position:fixed;
        padding:0 5%;
    }
    header nav{
        display:none;
    }
    header .burger{
        float:right;
        display:block;
        right:30px;
        top:23px;
    }
    .mobileMenu.show{
        width:55%;
    }
    /* Section -------------------------------------------- */
    .sectionWrap .subject figure {
        padding: 0 2%;
    }
    .figureControl figcaption a{
        font-size:1rem;
    }
    .content ul{
        display:block;
    }
    .content ul li{
        padding:0 10px;
    }
    .patchNote, .scope, .trailer{
        width:100%;
        background-color:rgba(50,66,81,.7);
        padding:5% 2%;
        height:initial;
        line-height:35px;
    }
    .patchNote div{
        text-align:center;
        margin-bottom:60px;
    }
    .patchNote div p,a{
        font-size:1.5em;
    }
    .scope div{
        text-align:center;
    }
    .scope .play{
        left:47%;
    }
    .scope a{
        width:100%;
        height:100%;
    }
    .trailer a{
        width:100%;
        height:100%;
    }
    
}
/* --------------------- 414 --------------------- */
@media(max-width:480px){
    body{
        overflow-x:visible;
        overflow-y:visible;
    }
    header{
        width:100%;
        position:fixed;
    }
    header .burger{
        transform:scale(1);
        top:24px;
    }
    .header_wrap figure{
        width:35%;
    }
    .mobileMenu{
        top:60px;
    }
    .mobileMenu.show{
        top:60px;
        width:60%;
    }
    /* Section -------------------------------------------- */
    .sectionWrap{
        padding:20% 5% 5% 5%;
    }
    .sectionWrap .subject figure {
        padding: 2%;
    }
    .sectionWrap .subject h1 {
        color: #fff;
        text-align: center;
        font-size: 2em;
        margin-bottom:0;
        margin-top:50px;
    }
    .sectionWrap .figureControl {
        display: block;
    }
    .figureControl figcaption a{
        font-size:1rem;
    }
    .content ul{
        display:block;
    }
    .content ul li{
        padding:0 10px;
    }
    .patchNote, .scope, .trailer{
        width:100%;
        background-color:rgba(50,66,81,.7);
        padding:5% 2%;
        height:initial;
        line-height:35px;
    }
    .patchNote div{
        text-align:center;
        margin-bottom:60px;
    }
    .patchNote div p,a{
        font-size:1em;
    }
    .scope div{
        text-align:center;
    }
    .scope .play{
        left:45%;
    }
    .scope a{
        width:100%;
        height:100%;
    }
    .trailer a{
        width:100%;
        height:100%;
    }
    footer div:nth-of-type(1){
        display:block;
        text-align:center;
    }
    footer div:nth-of-type(1) p{
        margin-left:0;
        margin-bottom:10px;
    }
    footer div:nth-of-type(1) figure{
        margin-left:0;
        margin-right:0;
    }
    .footerMenu ul:nth-of-type(2){
        display:none;
    }
}

/* --------------------- 375 --------------------- */
@media(max-width:375px){
    body{
        overflow-x:visible;
        overflow-y:visible;
    }
    header{
        width:100%;
        position:fixed;
    }
    header .burger{
        transform:scale(1);
        top:24px;
    }
    .header_wrap figure{
        width:35%;
    }
    .mobileMenu{
        top:60px;
    }
    .mobileMenu.show{
        top:60px;
        width:60%;
    }
    .patchNote div p,a{
        font-size:0.9em;
    }
    footer div:nth-of-type(1){
        display:block;
        text-align:center;
    }
    footer div:nth-of-type(1) p{
        margin-left:0;
        margin-bottom:10px;
    }
    footer div:nth-of-type(1) figure{
        margin-left:0;
        margin-right:0;
    }
    .footerMenu ul:nth-of-type(2){
        display:none;
    }
}
/* --------------------- 360 --------------------- */
@media(max-width:360px){
    body{
        overflow-x:visible;
        overflow-y:visible;
    }
    header{
        width:100%;
        position:fixed;
    }
    header .burger{
        transform:scale(1);
        top:24px;
    }
    .header_wrap figure{
        width:35%;
    }
    .mobileMenu{
        top:60px;
    }
    .mobileMenu.show{
        top:60px;
        width:60%;
    }
    
    footer div:nth-of-type(1){
        display:block;
        text-align:center;
    }
    footer div:nth-of-type(1) p{
        margin-left:0;
        margin-bottom:10px;
    }
    footer div:nth-of-type(1) figure{
        margin-left:0;
        margin-right:0;
    }
    .footerMenu ul:nth-of-type(2){
        display:none;
    }
}
@media(max-width:320px){
    body{
        overflow-x:visible;
        overflow-y:visible;
    }
    header{
        width:100%;
        position:fixed;
    }
    header .burger{
        transform:scale(1);
        top:18px;
    }
    .header_wrap figure{
        width:35%;
    }
    .mobileMenu{
        top:50px;
    }
    .mobileMenu.show{
        top:50px;
        width:60%;
    }
    footer div:nth-of-type(1){
        display:block;
        text-align:center;
    }
    footer div:nth-of-type(1) p{
        margin-left:0;
        margin-bottom:10px;
    }
    footer div:nth-of-type(1) figure{
        margin-left:0;
        margin-right:0;
    }
    .footerMenu ul:nth-of-type(2){
        display:none;
    }
}